<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원 가입</title>
  </head>
  <body>
    <h1>회원 가입</h1>

    {% if error %}
    <p style="color: red">{{ error }}</p>
    {% endif %}

    <form action="/signup/" method="post">
      <label for="userID">UserID:</label>
      <input type="text" id="userID" name="userID" required /><br /><br />

      <label for="userName">User Name:</label>
      <input type="text" id="userName" name="userName" required /><br /><br />

      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        required
      /><br /><br />

      <label for="userEmail">Email:</label><br />
      <input
        type="email"
        id="userEmail"
        name="userEmail"
        required
      /><br /><br />

      <label for="userCountry">Country:</label>
      <input
        type="text"
        id="userCountry"
        name="userCountry"
        required
      /><br /><br />

      <label for="userLanguage">Language:</label>
      <input
        type="text"
        id="userLanguage"
        name="userLanguage"
        required
      /><br /><br />

      <input type="submit" value="회원 가입" />
    </form>

    <p>
      이미 계정이 있으신가요?
      <a href="/login/">로그인</a>
    </p>
  </body>
</html>
